{% extends "basetemplate.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
            <h1 class="page-header">Self-Service Job Submission Completed!</h1>
            <p>
            Great News! Your self-service job with id: {% autoescape false %}{{whatid}}{% endautoescape %}, of type: {% autoescape false %}{{jobtype}}{% endautoescape %} has finished successfully!
            <br>
            FYI, {% autoescape false %}{{fyi}}{% endautoescape %}
            <br>
            You can download the finished result CSV file here: <a href="http://104.236.27.243/csvfile/{% autoescape false %}{{file2download}}{% endautoescape %}.csv">{% autoescape false %}{{file2download}}{% endautoescape %}.csv</a>
            </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}